@model IEnumerable<Dominio.Entidades.Estoque>



<div class="row">
    <div class="col-md-3">
        <h2>Todos Estoques</h2>
    </div>
    <div class="topo">
        <div class="col-md-7">
        </div>
        <div class="col-md-1">
            <a href="#" type="button" class="btn btn-primary btnNovo">Novo Estoque</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="topo">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    { 
                        <tr>
                            <td><a href="/Produto/Seletor/@item.Id"> @item.Nome</a></td>
                            <td>
                                <a href="#" class="btn btnEditar" data-value="@item.Id">Editar</a>
                            </td>
                            <td>                                
                                <a href="#" class="btn btnDeletar" data-value="@item.Id">Deletar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="conteudoModal"></div>
      </div>
    </div>
  </div>
</div>

@section scripts{
    <script type="text/javascript">
    </script>
}