@model Dominio.Entidades.Produto

<h2>Formulário de Produto</h2>

<form class="form-horizontal" asp-action="Salvar" asp-controller="Produto" method="POST">

    <input type="hidden" class="form-control" asp-for="Id">
    <div class="form-group">
        <label class="col-md-1 control-label" for="Name">Nome</label>
        <div class="col-md-2">
            <input type="text" class="form-control" asp-for="Nome">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label" for="Name">Categoria</label>
        <div class="col-md-2">
            <select type="text" class="form-control" asp-for="CategoriaId"
                asp-items='@(new SelectList(@ViewBag.Categorias, "Id", "Nome"))'>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label" for="Name">Estoque</label>
        <div class="col-md-2">
            <select type="text" class="form-control" asp-for="EstoqueId"
                asp-items='@(new SelectList(@ViewBag.Estoques, "Id", "Nome"))'>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label" for="Name">Quantidade</label>
        <div class="col-md-2">
            <input type="text" class="form-control" asp-for="Quantidade">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label" for="Name">Preço</label>
        <div class="col-md-2">
            <input type="text" class="form-control" asp-for="Preco">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label" for="Name">Código</label>
        <div class="col-md-2">
            <input type="text" class="form-control" asp-for="Codigo">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <button class="btn btn-success">Salvar</button>
        </div>
    </div>

</form>